@import url(./vendor/fonts/inter.css);
@import url(./vendor/normalize.css);

.page {
    background-color: #2A2C2F;
    color: #FFFFFF;
}

.header {
    font-family: 'inter', 'Arial', 'Helvetica', sans-serif;
    display: flex;
    max-width: 100%;
    padding-top: 28px;
    padding-right: 48px;
    padding-left: 48px;
    justify-content: space-between;
    align-items: flex-end;
}

.header__lang-links {
    min-width: 75px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 6px;
}

.header__lang-link {
    color: inherit;
}

.header__lang-link_lang_ru {
    text-decoration: underline;
}

.header__lang-link_lang_en {
    text-decoration: none;
}

.lead {
    font-family: 'inter', 'Arial', 'Helvetica', sans-serif;
    max-width: 984px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 48px;
    box-sizing: border-box;
}


.lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 56px;
}

.lead__image {
    width: 100%;
}

.lead__caption {
    font-size: 10px;
    line-height: 1.4;
    font-weight: 400;
    text-transform: uppercase;
    align-self: flex-start;
    margin: 0;
    padding-top: 8px;
}

.intro {
    font-family: 'inter', 'Arial', 'Helvetica', sans-serif;
    max-width: 984px;
    padding-top: 92px;
    margin: auto;
}

.intro__title {
    max-width: 690px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    margin: 0;
}

.intro__text {
    max-width: 690px;
    font-size: 16px;
    line-height: 1.63;
    font-weight: 400;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 33px;
}

.intro__list {
    max-width: 690px;
    list-style: none;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding-left: 0;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    gap: 16px;
    justify-content: center;   
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 92px;
    padding-bottom: 92px;
}

.photo-grid__item {
    width: 100%;
}

.places {
    font-family: 'inter', 'Arial', 'Helvetica', sans-serif;
    display: grid;
    max-width: 984px;
    margin: auto;
    gap: 80px;
    /*padding-left: 48px;
    padding-right: 48px;*/
    
}

.place {
    display: grid;
    grid-template-columns: 460px repeat(1, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 40px;
}

.place__title {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    margin: 0;
}

.place__image {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
}

.place__website {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
}

.place__url-hading{
    font-size: 12px;
    line-height: 1.7;
    color:#AAAAAA;
    letter-spacing: 0.2em;
    margin: 0;
    padding-bottom: 12px;
}

.place__link {
    font-size: 18px;
    line-height: 1.22;
    text-decoration: underline;
    color: inherit;
}

.place__link:hover {
    opacity: 0.8;
}

.place__paragraph {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 26px;
}

.place__paragraph_text {
    margin: 0;
    font-size: 18px;
    line-height: 1.63;
}

.cover {
    font-family: 'inter', 'Arial', 'Helvetica', sans-serif;
    padding-top: 92px;
    padding-bottom: 92px;
}

.cover__link {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    max-width: 1184px;
    /*min-height: 62.5vmax;*/
    min-height: 740px;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-image: url(./image/cover-trains.jpg);
    background-size: cover;
    z-index: 1;
    text-decoration: none;
}

.cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
    color: #FFFFFF;
}

.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

.cover__link::after {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.cover__link:hover::after {
    opacity: 0.8;
}

.footer {
    font-family: 'inter', 'Arial', 'Helvetica', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 24px;
}

.footer__links {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.footer__link {
    font-size: 16px;
    line-height: 1.12;
    color: inherit;
    text-decoration: none;
    padding-right: 18px;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 1.14;
}